In [98]:
from bs4 import BeautifulSoup
import requests
import time
import datetime
import smtplib
from datetime import datetime, timedelta, timezone
import pandas as pd
import csv

In [76]:
#connect to website

URL = 'https://www.amazon.de/-/en/Funny-Systems-Business-Analyst-T-Shirt/dp/B09F32Q8J8/ref=sr_1_2?crid=28OIMDLX8S9WE&keywords=data_analyst%2Btshirt&qid=1683369135&s=amazon-devices&sprefix=data_analyst%2Btshirt%2Camazon-devices%2C425&sr=1-2&customId=B07536XX75&customizationToken=MC_Assembly_1%23B07536XX75&th=1'

#headers = {"User-Agent": "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}



page = requests.get(URL, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")

soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

title = soup2.find(id='productTitle').get_text()

price = soup2.find(class_='a-offscreen').get_text()  # need to add _ to class for the code to work



print(title)
print(price)

              Funny Got Data MIS Data Systems Business Analyst T-Shirt


               â‚¬18.49

In [77]:
#strip off the white space of the price and title
price.strip() 
title = title.strip()

In [78]:
#strip off the $ sign 
price = price.strip()[1:]

In [79]:
print(title)
print(price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
18.49

In [80]:
# preparing date for the dataframe
today = datetime.today().strftime('%Y-%m-%d')

print(today)

2023-05-07

In [89]:
import csv

# creating the dataframe
header =['Title', 'Price', 'Date']
data = [title, price, today]


#saving data to dataframe
with open('Amazonscrapedata.csv', 'w', newline='', encoding='UTF8')as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [112]:
df = pd.read_csv('Amazonscrapedata.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
1  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07

In [94]:
# appending data to the csv
# replace 'w' with a+
# remove the header..  writer.writerow(header)


with open('Amazonscrapedata.csv', 'a+', newline='', encoding='UTF8')as f:  #replace 'w' with a+
    writer = csv.writer(f)
    writer.writerow(data)

In [ ]:
def check_price():
#connect to website
    URL = 'https://www.amazon.de/-/en/Funny-Systems-Business-Analyst-T-Shirt/dp/B09F32Q8J8/ref=sr_1_2?crid=28OIMDLX8S9WE&keywords=data_analyst%2Btshirt&qid=1683369135&s=amazon-devices&sprefix=data_analyst%2Btshirt%2Camazon-devices%2C425&sr=1-2&customId=B07536XX75&customizationToken=MC_Assembly_1%23B07536XX75&th=1'

#headers = {"User-Agent": "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36"}
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/112.0.0.0 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8","DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}
    
    page = requests.get(URL, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")

    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")

    title = soup2.find(id='productTitle').get_text()

    price = soup2.find(class_='a-offscreen').get_text()  # need to add _ to class for the code to work
    
#strip off the white space of the price and title
    price.strip() 
    title = title.strip()
    
#strip off the $ sign 
    price = price.strip()[1:]
    
# preparing date for the dataframe
    today = datetime.today().strftime('%Y-%m-%d')


# creating the dataframe
    header =['Title', 'Price', 'Date']
    data = [title, price, today]
    
# appending data to the csv
# replace 'w' with a+

    with open('Amazonscrapedata.csv', 'a+', newline='', encoding='UTF8')as f:  #replace 'w' with a+
        writer = csv.writer(f)
        writer.writerow(data)
        
        if (price < 15):
            send_mail()

In [ ]:
#Running the function to scrape our targetted data
while(True):
    check_price()
    time.sleep(21600)   #Running the function every 21600 seconds(6 hrs)

In [115]:
df = pd.read_csv('Amazonscrapedata.csv')
df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
1  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
2  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
3  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
4  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
5  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
6  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
7  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
8  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07
9  Funny Got Data MIS Data Systems Business Analy...  18.49  2023-05-07

In [ ]:
# Send me an email if the price of the shirt drop below 15.

def send_mail:
    server = smtplib.SMTP_SSL('smtp.gmail.com',465)
    server.ehlo()
    #server.starttls()
    server.ehlo()
    server.login('your email', 'your password')
    
    subject = 'The Data shirt you wanna buy is below $15! now, is your chance to buy!'
    body    = 'Ayo, lets go get it'
    
    msg = f"subject: {subject}\n\n{body}"
    
    server.sendmail('your email', msg)