In [2]:
#Int
x = 3
type(x)

int

In [4]:
#Strings

y = "back to python"

print(y)

back to python

In [15]:
#slicing strings

a = 'Hello World!'         
print(a[:5])             #[:5] get values from 0-5

Hello

In [18]:
print(a[1:4])     #[1:4] get values from 1 to 4

ell

In [17]:
print(a[6])        #[6] get value number 6

W

In [12]:
print(a[-4])       #[-4] get values from -0 to -4

r

# DATA STRUCTURES

# LIST: You can store any data value in LIST...data can be INT, STRING

In [41]:
[1,2,3]

[1, 2, 3]

In [20]:
['Mango', 'Orange', 3, ['house', 'book'], 'year', 'month'] # list can contain different type of data-- nested list

['Mango', 'Orange', 3, ['house', 'book'], 'year', 'month']

In [27]:
ice_cream = ['cookie Dough', 'Strawberry', 'chocolate']
ice_cream

['cookie Dough', 'Strawberry', 'chocolate']

In [28]:
#we can as well append to the list of our fruit
ice_cream.append('caramel')
ice_cream

['cookie Dough', 'Strawberry', 'chocolate', 'caramel']

In [30]:
#we can also chnage the value of our list

ice_cream[0]= 'Butter Pecan'  # this change the value in position [0] from 'cookie Dough' to 'Butter Pecan'
ice_cream

['Butter Pecan', 'Strawberry', 'chocolate', 'caramel']

In [35]:
#nested list

nested_list = ['Mango', 'Orange', 3, ['house', 'book'], 'year', 'month']
nested_list[3]

['house', 'book']

In [38]:
nested_list[3][0]

'house'

In [37]:
nested_list[1]

'Orange'

# Tuple: It can be modify after created.....IMMUTABLE.... Create with ( )
we can only iterate through tuple but can append, delete or replace values

In [39]:
tuple_scoops = (1,2,3,2,1)
type(tuple_scoops)

tuple

In [40]:
tuple_scoops[2]

3

SETS: set don't have or allow any duplicate element, values within set cant be access using index because it doesn't
have index and it is unordered.. we can only access it element with For Loops

In [43]:
daily_pints = {1,2,3}
type(daily_pints)

set

In [44]:
daily_pints

{1, 2, 3}

In [46]:
daily_pints_log = {1,2,31,2,3,4,8,1,23,2,3}  #set will rearrange the output in ascending order without duplicate
daily_pints_log

{1, 2, 3, 4, 8, 23, 31}

In [48]:
wife_daily_pints_log ={1,3,5,7,2,24,5,7,3,2,0}

In [49]:
#getiing the unique values between the above two sets

print(daily_pints_log | wife_daily_pints_log)

{0, 1, 2, 3, 4, 5, 7, 8, 23, 24, 31}

In [50]:
#getiing the union values between the above two sets
print(daily_pints_log & wife_daily_pints_log)

{1, 2, 3}

In [51]:
#getiing the values that didn't appear between the above two sets
print(daily_pints_log - wife_daily_pints_log)

{8, 4, 31, 23}

In [52]:
print(wife_daily_pints_log - daily_pints_log )

{0, 24, 5, 7}

In [53]:
#getiing the values that didn't appear in both two sets
print(daily_pints_log ^ wife_daily_pints_log)

{0, 4, 5, 7, 8, 23, 24, 31}

# DICTIONARIES 

kEY/VALUE PAIR

In [54]:
dict_cream = {'name': 'Ayodeji', 'weekly intake': 5, 'favorite ice cream':['MCC', 'Chocolate']}
type(dict_cream)

dict

In [56]:
dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice cream'])

In [57]:
dict_cream.values()

dict_values(['Ayodeji', 5, ['MCC', 'Chocolate']])

In [58]:
dict_cream.items()

dict_items([('name', 'Ayodeji'), ('weekly intake', 5), ('favorite ice cream', ['MCC', 'Chocolate'])])

In [61]:
#accessing dict

dict_cream['name']

'Ayodeji'

In [65]:
#update / replaceing dict

dict_cream['name'] = 'Ayodeji Agunbiade'
print(dict_cream)
dict_cream

{'name': 'Ayodeji Agunbiade', 'weekly intake': 5, 'favorite ice cream': ['MCC', 'Chocolate']}

{'name': 'Ayodeji Agunbiade',
 'weekly intake': 5,
 'favorite ice cream': ['MCC', 'Chocolate']}

In [70]:
#update / append
dict_cream.update({'name': 'Ayodeji Agunbiade', 'weekly intake': 5, 'weight': 400}) 
print(dict_cream)

{'name': 'Ayodeji Agunbiade', 'weekly intake': 5, 'favorite ice cream': ['MCC', 'Chocolate'], 'weight': 400}

In [71]:
#delete from dict

del dict_cream['weight']
print(dict_cream)

{'name': 'Ayodeji Agunbiade', 'weekly intake': 5, 'favorite ice cream': ['MCC', 'Chocolate']}

# COMPARISON OPERATORS

# LOGICAL OPERATORS

In [6]:
# with and Operator both statement must be true

(10 > 50) and (50 >10)

False

In [7]:
# with or Operator one of the two statement must be true

(10 > 50) or (50 >10)

True

In [9]:
# in Operator. Returns true if a sequence ith the specified value is present in the object

ice_cream = 'I love chocolate ice cream'

'love' in ice_cream

True

In [13]:
scoops = [1,2,3,4,5]

5 in scoops

True

In [ ]:
# notin Operator Returns True if a sequence ith the specified value is not present in the object

In [12]:
scoops = [1,2,3,4,5]
wanted_scoops = 8

wanted_scoops not in scoops

True

In [14]:
'yam' not in ice_cream

True

# IF - ELIF - ELSE STATEMEMTS

In [16]:
if 40 > 27:
    print('It goes')

It goes

In [19]:
if 40 < 27:
    print('It goes')
elif 40 < 45:
    print('elif worked')
else:
    print('It did not work')

elif worked

In [20]:
if 25 < 10:
    print('It worked')
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif 3 worked')
elif 25 < 50:
    print('elif 4 worked')    
else:
    print('it did not work')

elif 3 worked

In [21]:
print('yes') if 10 > 3 else print('no')

yes

In [23]:
if (25 < 20) or (1 < 5):
    print('worked')
    if 30 > 28:
        print('This is nested if statement')
elif 25 < 20:
    print('elif worked')
elif 25 < 21:
    print('elif 2 worked')
elif 25 < 40:
    print('elif 3 worked')
elif 25 < 50:
    print('elif 4 worked')    
else:
    print('it did not work')

worked
This is nested if statement

# FOR LOOPS

In [24]:
integers = [1,2,3,4,5,6]

for num in integers:
    print(num)

1
2
3
4
5
6

In [26]:
for num in integers:
    if num == 2:
        print(num + 10)

12

In [28]:
ice_cream_dict ={'name': 'Ayodeji Agunbiade', 'weekly intake': 4, 'favorite ice cream': ['MCC', 'Chocolate']}

for cream in ice_cream_dict.values():
    print(cream)

Ayodeji Agunbiade
4
['MCC', 'Chocolate']

In [30]:
for key, value in ice_cream_dict.items():
    print(key, '-->', value)

name --> Ayodeji Agunbiade
weekly intake --> 4
favorite ice cream --> ['MCC', 'Chocolate']

# NESTED FOR LOOPS

In [33]:
flavors = ['vanilla', 'chocolate', 'cookie dough']
toppings =['Hot Fudge', 'Oreos', 'Marshmallows']


for one in flavors:
    for two in toppings:
        print(one, 'topped with', two)

vanilla topped with Hot Fudge
vanilla topped with Oreos
vanilla topped with Marshmallows
chocolate topped with Hot Fudge
chocolate topped with Oreos
chocolate topped with Marshmallows
cookie dough topped with Hot Fudge
cookie dough topped with Oreos
cookie dough topped with Marshmallows

# WHILE LOOPS

In [41]:
number = 0

while number < 5:
    print(number)
    number= number + 1

0
1
2
3
4

In [42]:
#break

number = 0

while number < 5:
    print(number)
    if number == 3:
        break
    number = number +1

0
1
2
3

In [44]:
#break

number = 0

while number < 5:
    print(number)
    if number == 6:
        break
    number = number +1  
else:
    print('no longer < 5')

0
1
2
3
4
no longer < 5

In [48]:
#continue

number = 0

while number < 5:
    number = number +1 
    if number == 3:
        continue
    print(number) 
else:
    print('no longer < 5')

1
2
4
5
no longer < 5

# FUNCTIONS

In [51]:
def first():
    print('Getting started')

In [53]:
first()

Getting started

In [60]:
def test_para(num):
    print(num**2)

In [61]:
test_para(2)

4

In [62]:
def test_para(num1, num2):
    print(num1**2 + num2)

In [63]:
test_para(10, 5)

105

In [66]:
#Arbitary arguments: is used when you don't know how many argument u will be using the function for later.

args_tuple= (6,5,4,3,2,1)

def num_args(*num):
    print(num[0]*num[1])

In [65]:
num_args(6,5,4,3,2,1)

30

In [67]:
num_args(*args_tuple)

30

In [69]:
#keyword arguments:  we dont have to follow the arrangemnt of the argument when caling the functionas below..

def number_squared(number, power):
    print(number**power)

In [72]:
number_squared(power=5, number=2)

32

In [73]:
number_squared(number=5, power=2)

25

In [77]:
def number_kwarg(**number):
    print('my number is: '+ number['integer'] + 'My other number: '+ number['integer2'])

In [78]:
number_kwarg(integer='2305', integer2='359')

my number is: 2305My other number: 359

# CONVERTING DATA TYPES

In [79]:
num_int = 7
type(num_int)

int

In [81]:
num_str = '7'
type(num_str)

str

In [84]:
#convert STRING to int

num_str_conv = int(num_str)
type(num_str_conv)

int

In [87]:
num_int_conv = str(num_int)
type(num_int_conv)

str

In [88]:
list_type = [1,2,3]

In [90]:
#list to tuple

list_to_tuple = type(list_type)
type(list_to_tuple)

type

In [92]:
#dict to list

dict_type = {'name': "Ayo", 'age': 30, 'hair': 'black'}
type(dict_type)

dict

In [94]:
print(dict_type.items())
print(dict_type.values())
print(dict_type.keys())

dict_items([('name', 'Ayo'), ('age', 30), ('hair', 'black')])
dict_values(['Ayo', 30, 'black'])
dict_keys(['name', 'age', 'hair'])

In [95]:
#convert keys() to list

list(dict_type.keys())

['name', 'age', 'hair']

In [97]:
#convert values() to list
list(dict_type.values())

['Ayo', 30, 'black']

In [99]:
list(dict_type)   # converting the whole dict_type couldn't work, it is better to convert keys and values differently

['name', 'age', 'hair']

In [100]:
#converting long strings to list

long_str = 'I like football'

In [101]:
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 'f', 'o', 'o', 't', 'b', 'a', 'l', 'l']

In [102]:
set(long_str)

{' ', 'I', 'a', 'b', 'e', 'f', 'i', 'k', 'l', 'o', 't'}

# BMI CALCULATOR